/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', Arial, sans-serif;
	line-height: 1.6;
	color: #0f0e0e;
	margin: 0;
	font-size: .9rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
	text-align: left;
	padding: 20px 20px 20px;
	background-color: rgb(233, 233, 127);
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.pagename, .about {
	font-size: 1.35em;
    margin: 0;
	color: #4a0970;
}

.main-nav {
	margin-top: 5px;
}

.pagename,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 20px 15px;
	text-decoration: none;
}

.main-nav a {
	font-size: .96em;
	color: #0640ac;
	text-transform: none;
}
.main-nav a:hover {
	color: #4a0970;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

div .logo {
	text-align: center;
}

.logo {
	display: inline-block;
	width: 160px;
    height: 160px;
    border-radius: 50%;
   	background-image: url(../img/yellow45.jpg);
   	background-size: contain;
	background-position: center;
}
.logo:hover {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.banner {
	text-align: center;
	color: rgb(241, 36, 36);
	background: rgb(252, 252, 100);
	padding: 3.2em 0;
	margin-bottom: 0px;
}
.headline {
	margin-bottom: 0;
}


.year {
	height: 10rem;
	background-color: yellow;
	background-image: url(../img/1970_sp.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: repeat;
}

.foot {
	padding: 20px 20px 0px;
	text-align: left;
}

input[type="text"]:focus,
{
  background: #fff
}

input {
	width: 30%;
  }

/* BEGIN  add image TEST ================ 
==================================
==================================
===============!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.randomImg {
	text-align: center;
	border-radius: 6px;
	background-color: #fff;
	border: solid 2px #f0dce5;
	padding: 20px;
	margin-bottom: 24px; }
	.randomImg img {
	  border-radius: 4px;
	  margin-bottom: 2.25rem;
	  cursor: pointer;
	  width: 100%; }
	  

.outer {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box; }
	
/* Clearing
–––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness 
.outer:after,
	.row:after,
	.u-cf {
	content: "";
	display: table;
	clear: both; }
	  */

/*END TEST CSS    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ================================= 
  Flex Box
==================================== */
.flex-container {
	display: flex;
	justify-content: center;
	padding: 10px;
	background: beige;
	border-radius: 5px;
	flex-wrap: wrap;
}

.flex-item {
	height: 480px;
	width: 280px;
	color: #000;
	padding: 1px;
	margin: 10px;
/*	background: rgb(182, 216, 32); */
	border-radius: 6px;
	border: 3px solid black;
}

.flex-item h2 {
	text-align: center;
	line-height: 1;
	padding: 0px;
}
.flex-item p {
	text-align: center;
	line-height: 1;
	padding: 0px;
}

.flex-item div {
	text-align: center;
}

.flex-item div img {
    margin: 0px auto;
	display: block;
	width: 100%;
	max-width: 280px;
	max-height: 280px;
	height: 100%;
	object-fit: contain;
}


.play2 {
	margin-bottom: 1px;
	background-color: beige;
	width: 240px;
	height: 15px;
}

.button {
	margin-left: 50px;
	background: rgb(54, 189, 27);
}

h3 {
	color: rgb(241, 36, 36);
}

/* ================================= 
  Keyframe
==================================== */

@keyframes spin{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

	
/* ================================= 
  Media Queries
==================================== */

/*tablet*/


@media (min-width: 769px) {

    .main-header
{
    width: 90%;
    margin: 0 auto;

}

    .main-header,
	.main-nav {
		display: flex;
    }
    
	.main-header {
		flex-direction: column;
		align-items: center;
	}
}

/* desktop */

@media (min-width: 1025px) {

	.main-header {
        flex-direction: row;
		justify-content: space-between;
		max-width: 1600px;
	}

}

